* {
  box-sizing: border-box;
}
img {
  width: 100%;
}

body{
 margin: 0px;
 padding: 0px;
 position: relative;
}
.webpage {
  width: 100%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
/********************************************************* MEDIA QUERIES */



 /* @media only screen and (min-width: 1001px) {
  .main-body-left {
    margin-right: 5px;
  }
} */

@media only screen and (max-width: 1000px) {

  .main-body-right {
    position:absolute;
    top: 200px;
    height:auto; }

    .main-body-left {
      margin-top: 650px;
      margin-right: 0px;

      height:auto; }
    }

     /* So that the content wont be lost with the reduction in width.
}

/***********************************************************font class */

.oswald {
  font-family: 'Oswald', sans-serif;
}

.lato {
  font-family: 'lato', sans-serif;
}
/*********************************************** hover overlay effects */

.overlay:hover {
  opacity: 80%;



}

.image:hover {
  background-color: #CB5C3C;
  z-index: 1;
  opacity: 60%;

}


/*******************************************************navbar styling */

.navbar {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  color: #5D5D5D;
  padding: 25px 25px 25px 25px;



  border-bottom: solid 1px #E7E7E7;
}

.navbar-left {
  width: 50%;
  display: inline-block;
  margin-left: 5px;

  font-size: 25px;


  font-family: 'lato',sans-serif;
  font-weight: 700;

  letter-spacing: 1px;
  word-spacing: 2px;
}

/********************************************* navbar hover effects */

.navbar a:hover {
  color: #5D5D5D;
}

/********************************************* navbar right side link spacing */
.navbar-right{
  display: flex;
  justify-content: flex-end;

  width: 9%;
}

.navbar-right a {
  text-align: right;
  font-size: 25px;
  margin: 7px;
  line-height: 21px;
  color: #AAAAAA;
}




/****************************************************main body styling */

.main-body {
  background-color: #F4F4F4;
  padding-top: 63px;
  /* display: inline-block; */

}


/***************************************************** main body left side */


.main-body-left {
  display: inline-block;
  width: 67.7%;
  margin-right: 2.3%;
  margin-bottom: -29px;
}


.blogpost {
  margin-bottom: 60px;
  box-shadow: 5px 5px 5px #D1D1D1;
}

.blogpost-image {
  display: block;
  border: solid 30px #FFF;
}

.blogpost-image img {
  border: solid 1px #AAAAAA;
}

.blogpost-content {
  display: block;

  background-color: #FFFFFF;

  text-align: center;

}

.blogpost-content {
  padding-top: 48px;

}

.heading-sm {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 4px;
}

.blogpost-content h1{
  font-size: 29px;
  letter-spacing: .7px;
  word-spacing: 1px;
  margin: 7px 0px;

  color: #444444;
}

.blogpost-content p {
  text-indent: 50px;
  text-align: left;
  font-size: 17.5px;
  line-height: 23px;
  margin: 25px 36px 40px 46px;

  color: #444444;
}


.blogpost-content footer {
  width: 89%;
  margin: 0 auto;
  margin-top: 47px;
  padding-bottom: 55px;
  /* line-height: 64px; */

  color: #ACACAC;

  border-top: solid 1px #E2E3E2;
}

.footer-left {
  text-align: left;
  display: inline-block;
  width: 79%;

  font-family: 'Lato' , sans-serif;
  font-style: italic;
  font-weight: lighter;

  margin-top: 22px;

}

.footer-left span {
  margin-left: -2px;
}


.footer-right {
  text-align: right;
  display: inline-block;
  width: 20%;
}

.footer-right a {
  color: #C2C2C2;
  margin-left: 15px;
  font-size: 16px;
}

.footer-right a:hover {
  color: #CB5C3C;
}





/***************************************************** main body right side */

.sidebar {
  background-color: #FFFFFF;
  margin-bottom: 46px;
}

.sidebar h1 {
  color: #444444
}

.banner-picture img{
  height: 212px;
}

.profile-picture {
  width: 50%;

}
.profile-picture img{
  border: solid 8px #F4F4F4;

  border-radius: 50%;
  height: 211px;
  margin: -98px 50% 0px 50%;
}

.sidebar-1 h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-top: 3px;
  font-size: 22px;
  word-spacing: 1px;
  letter-spacing: .5px;

  color: #444444
}

.sidebar-1 p {
  color: #444444;
  text-align: center;
  font-size: 17.5px;
  line-height: 30px;
  margin: 22px 33px 0 30px;
}




.sidebar-1 {
  padding-bottom: 61px;
  box-shadow: 5px 5px 5px #D1D1D1;

}

.button {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .5px;
  color: #4C366E;
  border: solid 3px #4C366E;
  border-radius: 10%;
  padding: 3px 9px;
  background: none;
  color: #5D5D5D;
  border-color: #5D5D5D;
}

.button:hover {
  text-decoration: none;
  color: #AAAAAA;
  border-color: #AAAAAA;
}







/*********************************************** hover overlay effects */

.overlay:hover {
  opacity: 80%;


}

.image:hover {
  background-color: #CB5C3C;
  z-index: 1;
  opacity: 60%;
  height: 100%;

}
